
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu-1:before { content: '\e801'; } /* '' */
.icon-th-list-outline:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-th-large:before { content: '\e804'; } /* '' */
.icon-th-large-outline:before { content: '\e805'; } /* '' */
.icon-th-outline:before { content: '\e806'; } /* '' */
.icon-download-outline:before { content: '\e807'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-outline:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e80c'; } /* '' */
.icon-th-list-2:before { content: '\e80d'; } /* '' */
.icon-th-list-3:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-list:before { content: '\e810'; } /* '' */
.icon-align-justify:before { content: '\e811'; } /* '' */
.icon-th-1:before { content: '\e812'; } /* '' */
.icon-th-large-1:before { content: '\e813'; } /* '' */
.icon-basket:before { content: '\e814'; } /* '' */
.icon-amazon:before { content: '\e815'; } /* '' */
.icon-google:before { content: '\e816'; } /* '' */
.icon-github:before { content: '\e817'; } /* '' */
.icon-github-circled:before { content: '\e818'; } /* '' */
.icon-instagram-2:before { content: '\e819'; } /* '' */
.icon-github-1:before { content: '\e81a'; } /* '' */
.icon-linkedin-2:before { content: '\e81b'; } /* '' */
.icon-vkontakte:before { content: '\e81c'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-th-list-1:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-skype-1:before { content: '\f17e'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared-1:before { content: '\f30e'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */